/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #eef1ef;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 13%;
    }
    header {
        text-align: center;
        padding: 5%;
        background-color: #45B0B9;
        color: white;
        font-size: 0.7em;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .chart1, .chart2, .chart3, .chart4 {
        height: auto; /* Passt die Höhe dynamisch an */
        max-height: 100%; /* Begrenzt die Höhe auf 100% des verfügbaren Platzes */
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart1 h2, .chart2 h2, .chart3 h2, .chart4 h2 {
        font-size: 0.7em;
    }
    .chart1 img, .chart2 img, .chart3 img, .chart4 img {
        width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
        height: auto; /* Passt die Höhe dynamisch an */
        object-fit: contain; /* Stellt sicher, dass die Bilder nicht abgeschnitten werden */
    }
    .dashboard {
        display: grid;
        grid-template-columns: 1fr; /* Eine Spalte für mobile Ansicht */
        gap: 0.5%; /* Größerer Abstand zwischen den Charts */
        padding: 1%;
        flex: 1;
        overflow: auto; /* Ermöglicht Scrollen auf kleinen Bildschirmen */
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #45B0B9;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 0.5em;
        box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)  and (max-width: 768px) {
     body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            background-color: #eef1ef;
            height: auto;
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 8%;
        }
        header {
            text-align: center;
            padding: 15px;
            background-color: #45B0B9;
            color: white;
            font-size: 0.7em;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
        .chart1, .chart2, .chart3, .chart4 {
            height: auto; /* Passt die Höhe dynamisch an */
            max-height: 100%; /* Begrenzt die Höhe auf 100% des verfügbaren Platzes */
            background-color: #ffffff;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            overflow: hidden;
        }
        .chart1 h2, .chart2 h2, .chart3 h2, .chart4 h2 {
            font-size: 0.7em;
        }
        .chart1 img, .chart2 img, .chart3 img, .chart4 img {
            width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
            height: auto; /* Passt die Höhe dynamisch an */
            object-fit: contain; /* Stellt sicher, dass die Bilder nicht abgeschnitten werden */
        }
        .dashboard {
            display: grid;
            grid-template-columns: 1fr; /* Eine Spalte für mobile Ansicht */
            gap: 10px; /* Größerer Abstand zwischen den Charts */
            padding: 10px;
            flex: 1;
            overflow: auto; /* Ermöglicht Scrollen auf kleinen Bildschirmen */
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #45B0B9;
            color: #fff;
            text-align: center;
            padding: 10px;
            font-size: 0.5em;
            box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
        }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #eef1ef;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 10%;
    }
    header {
        text-align: center;
        padding: 5%;
        background-color: #45B0B9;
        color: white;
        font-size: 1.1em;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .chart1, .chart2, .chart3, .chart4 {
        height: auto; /* Passt die Höhe dynamisch an */
        max-height: 100%; /* Begrenzt die Höhe auf 100% des verfügbaren Platzes */
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart1 h2, .chart2 h2, .chart3 h2, .chart4 h2 {
        font-size: 1.4em;
    }
    .chart1 img, .chart2 img, .chart3 img, .chart4 img {
        width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
        height: auto; /* Passt die Höhe dynamisch an */
        object-fit: contain; /* Stellt sicher, dass die Bilder nicht abgeschnitten werden */
    }
    .dashboard {
        display: grid;
        grid-template-columns: 1fr; /* Eine Spalte für mobile Ansicht */
        gap: 0.5%; /* Größerer Abstand zwischen den Charts */
        padding: 1%;
        flex: 1;
        overflow: auto; /* Ermöglicht Scrollen auf kleinen Bildschirmen */
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #45B0B9;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 0.9em;
        box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #eef1ef;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 9%;
    }
    header {
        text-align: center;
        padding: 1%;
        background-color: #45B0B9;
        color: white;
        font-size: 1.3em;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .chart1, .chart2, .chart3, .chart4 {
        height: auto; /* Passt die Höhe dynamisch an */
        max-height: 100%; /* Begrenzt die Höhe auf 100% des verfügbaren Platzes */
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart1 h2, .chart2 h2, .chart3 h2, .chart4 h2 {
        font-size: 1.8em;
    }
    .chart1 img, .chart2 img, .chart3 img, .chart4 img {
        width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
        height: auto; /* Passt die Höhe dynamisch an */
        object-fit: contain; /* Stellt sicher, dass die Bilder nicht abgeschnitten werden */
    }
    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für die Desktop Ansicht */
        gap: 0.5%; /* Größerer Abstand zwischen den Charts */
        padding: 1%;
        flex: 1;
        max-height: calc(100%);
        overflow: auto; /* Ermöglicht Scrollen auf kleinen Bildschirmen */
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #45B0B9;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #eef1ef;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 9%;
    }
    header {
        text-align: center;
        padding: 1%;
        background-color: #45B0B9;
        color: white;
        font-size: 1.3em;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
     .chart1, .chart2, .chart3, .chart4 {
        height: auto; /* Passt die Höhe dynamisch an */
        max-height: 100%; /* Begrenzt die Höhe auf 100% des verfügbaren Platzes */
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart1 h2, .chart2 h2, .chart3 h2, .chart4 h2 {
        font-size: 1.8em;
    }
    .chart1 img, .chart2 img, .chart3 img, .chart4 img {
        width: 100%; /* Stellt sicher, dass die Bilder die volle Breite einnehmen */
        height: auto; /* Passt die Höhe dynamisch an */
        object-fit: contain; /* Stellt sicher, dass die Bilder nicht abgeschnitten werden */
    }
    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Zwei Spalten für die Desktop Ansicht */
        gap: 0.5%; /* Größerer Abstand zwischen den Charts */
        padding: 1%;
        flex: 1;
        max-height: calc(100%);
        overflow: auto; /* Ermöglicht Scrollen auf kleinen Bildschirmen */
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #45B0B9;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    }
}


/* KMG Screen */
@media only screen and (min-width: 1920px) and (min-height: 1080px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        background-color: #eef1ef;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 5%;
    }
    header {
        text-align: center;
        padding: 0.5%;
        background-color: #45B0B9;
        color: white;
        font-size: 1.3em;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .chart1  {
        height: 100%;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart1 h2 {
        text-align: center;
        font-size: 1.5em;
    }
    .chart1 img {
        display: block;
        margin-top: 50px;
        margin-left: 5%;
        width: auto;
        height: auto;
    }
    .chart2 {
        height: 100%;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart2 h2 {
        text-align: center;
        font-size: 1.5em;
    }
    .chart2 img {
        display: block;
        margin-top: -25px;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        }

    .chart3 {
        height: 100%;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart3 h2 {
        text-align: center;
        font-size: 1.5em;
    }
    .chart3 img {
        display: block;
        margin: 0;
        width: 100%;
        height: 80%;
        object-fit: scale-down;
        }

    .chart4 {
        height: 100%;
        max-height: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        overflow: hidden;
    }
    .chart4 h2 {
        text-align: center;
        font-size: 1.5em;
    }
    .chart4 img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 85%;
        object-fit: contain;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        padding: 1%;
        flex: 1;
        max-height: calc(830px);
        overflow: hidden;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #45B0B9;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
    }
}
